.placehead{
    padding: 20px;
    display: flex;
    justify-content: center;
}
/* .addplace{
    display: flex;
    justify-content: end;
    padding-right: 10rem;
} */
.placehead{
   justify-content: end;
   margin-right: 285px;
}