.auth{
    display: flex;
    height: 100vh;
}
.areare{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-image: url("../images/bg.jpg");
}
.form{
    background-color: rgb(187, 184, 184);
    height: 350px;
    width: 500px;
    padding: 10px;
    border: 2px solid rgb(168, 167, 167);
    border-radius: 10px;
}
.form h1{
    text-align: center;
}
.button{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}