/* .image{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: blue;
} */
.container1{
    padding: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.photo{
    margin-right: 250px;
    overflow: auto;
    height: 620px;
    width: 430px;
}
.photo1{
    border: 1px solid black;
    margin: 3px;
    border-radius: 10px;
}
.body{
    padding: 10px;
}
.box{
    overflow: auto;
    height: 800px;
    width: 530px;
    margin-right: 250px;
}
.box img{
    border: 1px solid black;
    margin: 5px;
    border-radius: 10px;
}
.open{
    border: 1px solid black;
    text-align: center;
    background-color: rgb(157, 255, 0);
    height:30px;
    width: 100px;
    border-radius: 10px;
    color: rgb(248, 248, 248);
}
.close{
    border: 1px solid black;
    text-align: center;
    background-color: rgb(255, 0, 0);
    height:30px;
    width: 100px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}
.area{
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    border: 1px solid black;
    margin: 5px;
}
.box{
    border-radius: 10px;
}
.text{
    color: red;
    font-size: 20px;
}