/* .image{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: blue;
} */
.photo{
    height: 50px;
    padding-right: 10rem;
    padding-bottom: 5rem;
}


